path.txt
tests.ipynb
scripts/test_with_R_course.ipynb
scripts/test_script.ipynb
scripts/rasterdata_tests.ipynb
scripts/SOGA_PY.ipynb
scripts/SEBAL_Model_meteo_clean_copyBeforeWogele.ipynb
scripts/pySEBAL_H.ipynb


